<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userID</key>
	<string></string>
	<key>gender</key>
	<integer>0</integer>
	<key>userPWD</key>
	<string></string>
	<key>birthday</key>
	<string></string>
	<key>email</key>
	<string></string>
	<key>profileImage</key>
	<data>MjAxNy0xMC0yNVQwNzozODo0M1o=</data>
</dict>
</plist>
