<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Adobe CC</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Android</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Netflix</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Apple</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Dropbox Premium</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Behance</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Amazon Prime</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Spotify</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>iCloud</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>LinkedIN</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Noun Project</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Medium</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>tving</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Slack</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>melon music</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Trello</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Noun Project</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Skype</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Noun Project</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>RSS</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Noun Project</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Instagram</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Noun Project</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Github</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>Noun Project</string>
		<key>category</key>
		<string>Design</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Kickstarter</string>
		<key>followerCnt</key>
		<string>2103912</string>
	</dict>
</array>
</plist>
