<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5678</string>
		<key>ProfileImage</key>
		<string>ProfileImage1</string>
		<key>MyProfileDescription</key>
		<string>프로듀스 101의 피지컬 甲 진중함과 코믹함, 카리스마와 귀여움이 공존하는 프리스틴의 리더 그리고 영원히 기억될 I.O.I의 리더</string>
		<key>Account</key>
		<string>user1</string>
		<key>Password</key>
		<string>user1</string>
		<key>BackgroundImage</key>
		<string>BackImage1</string>
		<key>StatusDescription</key>
		<string>다이어트중</string>
		<key>Nickname</key>
		<string>강미나</string>
		<key>Email</key>
		<string>mnkang123@fastcampus.co.kr</string>
		<key>LikeCount</key>
		<string></string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5679</string>
		<key>ProfileImage</key>
		<string>ProfileImage2</string>
		<key>MyProfileDescription</key>
		<string>교회에서 독수리춤으로 화제가 됨</string>
		<key>Account</key>
		<string>user2</string>
		<key>Password</key>
		<string>user2</string>
		<key>BackgroundImage</key>
		<string>BackImage2</string>
		<key>StatusDescription</key>
		<string>날아라 독수리</string>
		<key>Nickname</key>
		<string>김다현</string>
		<key>Email</key>
		<string>dhkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5680</string>
		<key>ProfileImage</key>
		<string>ProfileImage3</string>
		<key>MyProfileDescription</key>
		<string>연습생들이 뽑은 프로듀스 101 비쥬얼 랭킹 3위 응 씨 카이는 전지현 같은 느낌이라고 극찬 강시라는 차가워 보이지만 순수한 매력이 있다며 극찬</string>
		<key>Account</key>
		<string>user3</string>
		<key>Password</key>
		<string>user3</string>
		<key>BackgroundImage</key>
		<string>BackImage3</string>
		<key>StatusDescription</key>
		<string>또치</string>
		<key>Nickname</key>
		<string>김도연</string>
		<key>Email</key>
		<string>dykim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5681</string>
		<key>ProfileImage</key>
		<string>ProfileImage4</string>
		<key>MyProfileDescription</key>
		<string>뛰어난 리더쉽과 훌륭한 실력, 따뜻한 성격, 노래 실력이 매우 좋은 편으로 팀에서 포지션은 유연정과 더불어 메인보컬</string>
		<key>Account</key>
		<string>user4</string>
		<key>Password</key>
		<string>user4</string>
		<key>BackgroundImage</key>
		<string>BackImage4</string>
		<key>StatusDescription</key>
		<string>꽃길만 걷자</string>
		<key>Nickname</key>
		<string>김세정</string>
		<key>Email</key>
		<string>sjkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5682</string>
		<key>ProfileImage</key>
		<string>ProfileImage5</string>
		<key>MyProfileDescription</key>
		<string>프로듀스 101을 통해 얼굴을 알린 연기자 기획사인 레드라인 엔터테인먼트 소속의 연습생참가자으로 참가</string>
		<key>Account</key>
		<string>user5</string>
		<key>Password</key>
		<string>user5</string>
		<key>BackgroundImage</key>
		<string>BackImage5</string>
		<key>StatusDescription</key>
		<string>라바조아</string>
		<key>Nickname</key>
		<string>김소혜</string>
		<key>Email</key>
		<string>shkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5683</string>
		<key>ProfileImage</key>
		<string>ProfileImage6</string>
		<key>MyProfileDescription</key>
		<string>C.I.V.A의 멤버</string>
		<key>Account</key>
		<string>user6</string>
		<key>Password</key>
		<string>user6</string>
		<key>BackgroundImage</key>
		<string>BackImage6</string>
		<key>StatusDescription</key>
		<string>소히</string>
		<key>Nickname</key>
		<string>김소희</string>
		<key>Email</key>
		<string>shkim456@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5684</string>
		<key>ProfileImage</key>
		<string>ProfileImage7</string>
		<key>MyProfileDescription</key>
		<string>현 M앤H 엔터테인먼트 소속의 아티스트 개명 전의 이름은 김찬미였고, 현재 이름은 김청하임 미국 텍사스 주에서 7년 정도 거주하였고 영어실력이 유창함 영어 이름은 Annie</string>
		<key>Account</key>
		<string>user7</string>
		<key>Password</key>
		<string>user7</string>
		<key>BackgroundImage</key>
		<string>BackImage7</string>
		<key>StatusDescription</key>
		<string>I.O.I의 춤신춤왕</string>
		<key>Nickname</key>
		<string>김청하</string>
		<key>Email</key>
		<string>chkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5685</string>
		<key>ProfileImage</key>
		<string>ProfileImage8</string>
		<key>MyProfileDescription</key>
		<string>걸그룹 트와이스 멤버</string>
		<key>Account</key>
		<string>user8</string>
		<key>Password</key>
		<string>user8</string>
		<key>BackgroundImage</key>
		<string>BackImage8</string>
		<key>StatusDescription</key>
		<string>체조요정</string>
		<key>Nickname</key>
		<string>미나</string>
		<key>Email</key>
		<string>mn123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5686</string>
		<key>ProfileImage</key>
		<string>ProfileImage9</string>
		<key>MyProfileDescription</key>
		<string>걸그룹 트와이스 멤버</string>
		<key>Account</key>
		<string>user9</string>
		<key>Password</key>
		<string>user9</string>
		<key>BackgroundImage</key>
		<string>BackImage9</string>
		<key>StatusDescription</key>
		<string>아기맹수</string>
		<key>Nickname</key>
		<string>손채영</string>
		<key>Email</key>
		<string>cyson@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5687</string>
		<key>ProfileImage</key>
		<string>ProfileImage10</string>
		<key>MyProfileDescription</key>
		<string>스타쉽엔터테인먼트 소속 최종 11인에 들어 I.O.I 멤버로 데뷔 보컬 실력 뿐만 아니라, 프로듀스 101 시절과 비교해 어마어마한 외모적 발전으로 놀라움을 자아내는 아이돌</string>
		<key>Account</key>
		<string>user10</string>
		<key>Password</key>
		<string>user10</string>
		<key>BackgroundImage</key>
		<string>BackImage10</string>
		<key>StatusDescription</key>
		<string>너에게 닿기를</string>
		<key>Nickname</key>
		<string>유연정</string>
		<key>Email</key>
		<string>yjyoo123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5688</string>
		<key>ProfileImage</key>
		<string>ProfileImage11</string>
		<key>MyProfileDescription</key>
		<string>걸그룹 트와이스 멤버</string>
		<key>Account</key>
		<string>user11</string>
		<key>Password</key>
		<string>user11</string>
		<key>BackgroundImage</key>
		<string>BackImage11</string>
		<key>StatusDescription</key>
		<string>인기가요 화이팅</string>
		<key>Nickname</key>
		<string>유정연</string>
		<key>Email</key>
		<string>jyyoo123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5689</string>
		<key>ProfileImage</key>
		<string>ProfileImage12</string>
		<key>MyProfileDescription</key>
		<string>C.I.V.A의 멤버</string>
		<key>Account</key>
		<string>user12</string>
		<key>Password</key>
		<string>user12</string>
		<key>BackgroundImage</key>
		<string>BackImage12</string>
		<key>StatusDescription</key>
		<string>채경이</string>
		<key>Nickname</key>
		<string>윤채경</string>
		<key>Email</key>
		<string>ckyoon123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5690</string>
		<key>ProfileImage</key>
		<string>ProfileImage13</string>
		<key>MyProfileDescription</key>
		<string>걸그룹 트와이스 멤버</string>
		<key>Account</key>
		<string>user13</string>
		<key>Password</key>
		<string>user13</string>
		<key>BackgroundImage</key>
		<string>BackImage13</string>
		<key>StatusDescription</key>
		<string>T.T</string>
		<key>Nickname</key>
		<string>임나연</string>
		<key>Email</key>
		<string>nylim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5691</string>
		<key>ProfileImage</key>
		<string>ProfileImage14</string>
		<key>MyProfileDescription</key>
		<string>프로듀스 101의 피지컬 甲 진중함과 코믹함, 카리스마와 귀여움이 공존하는 프리스틴의 리더 그리고 영원히 기억될 I.O.I의 리더</string>
		<key>Account</key>
		<string>user14</string>
		<key>Password</key>
		<string>user14</string>
		<key>BackgroundImage</key>
		<string>BackImage14</string>
		<key>StatusDescription</key>
		<string>스톤나영!</string>
		<key>Nickname</key>
		<string>임나영</string>
		<key>Email</key>
		<string>nylim456@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5692</string>
		<key>ProfileImage</key>
		<string>ProfileImage15</string>
		<key>MyProfileDescription</key>
		<string>힙통령</string>
		<key>Account</key>
		<string>user15</string>
		<key>Password</key>
		<string>user15</string>
		<key>BackgroundImage</key>
		<string>BackImage15</string>
		<key>StatusDescription</key>
		<string>췍</string>
		<key>Nickname</key>
		<string>장문복</string>
		<key>Email</key>
		<string>mbjang123@fastcampus.co.kr</string>
	</dict>
</array>
</plist>
