<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5678</string>
		<key>ProfileImage</key>
		<string>Airbnb</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user1</string>
		<key>Password</key>
		<string>user1</string>
		<key>BackgroundImage</key>
		<string>BackImage1</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Airbnb</string>
		<key>Email</key>
		<string>mnkang123@fastcampus.co.kr</string>
		<key>LikeCount</key>
		<string></string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5679</string>
		<key>ProfileImage</key>
		<string>Android</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user2</string>
		<key>Password</key>
		<string>user2</string>
		<key>BackgroundImage</key>
		<string>BackImage2</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Android</string>
		<key>Email</key>
		<string>dhkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5680</string>
		<key>ProfileImage</key>
		<string>Apple</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user3</string>
		<key>Password</key>
		<string>user3</string>
		<key>BackgroundImage</key>
		<string>BackImage3</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Apple</string>
		<key>Email</key>
		<string>dykim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5681</string>
		<key>ProfileImage</key>
		<string>Behance</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user4</string>
		<key>Password</key>
		<string>user4</string>
		<key>BackgroundImage</key>
		<string>BackImage4</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Behance</string>
		<key>Email</key>
		<string>sjkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5682</string>
		<key>ProfileImage</key>
		<string>Codeopen</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user5</string>
		<key>Password</key>
		<string>user5</string>
		<key>BackgroundImage</key>
		<string>BackImage5</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Codeopen</string>
		<key>Email</key>
		<string>shkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5683</string>
		<key>ProfileImage</key>
		<string>Coub</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user6</string>
		<key>Password</key>
		<string>user6</string>
		<key>BackgroundImage</key>
		<string>BackImage6</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Coub</string>
		<key>Email</key>
		<string>shkim456@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5684</string>
		<key>ProfileImage</key>
		<string>Dribbble</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user7</string>
		<key>Password</key>
		<string>user7</string>
		<key>BackgroundImage</key>
		<string>BackImage7</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Dribble</string>
		<key>Email</key>
		<string>chkim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5685</string>
		<key>ProfileImage</key>
		<string>Dropbox</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user8</string>
		<key>Password</key>
		<string>user8</string>
		<key>BackgroundImage</key>
		<string>BackImage8</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Dropbox</string>
		<key>Email</key>
		<string>mn123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5686</string>
		<key>ProfileImage</key>
		<string>Evernote</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user9</string>
		<key>Password</key>
		<string>user9</string>
		<key>BackgroundImage</key>
		<string>BackImage9</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Evernote</string>
		<key>Email</key>
		<string>cyson@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5687</string>
		<key>ProfileImage</key>
		<string>Flickr</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user10</string>
		<key>Password</key>
		<string>user10</string>
		<key>BackgroundImage</key>
		<string>BackImage10</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Flickr</string>
		<key>Email</key>
		<string>yjyoo123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5688</string>
		<key>ProfileImage</key>
		<string>Foursquare</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user11</string>
		<key>Password</key>
		<string>user11</string>
		<key>BackgroundImage</key>
		<string>BackImage11</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Foursquare</string>
		<key>Email</key>
		<string>jyyoo123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5689</string>
		<key>ProfileImage</key>
		<string>Github</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user12</string>
		<key>Password</key>
		<string>user12</string>
		<key>BackgroundImage</key>
		<string>BackImage12</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Github</string>
		<key>Email</key>
		<string>ckyoon123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5690</string>
		<key>ProfileImage</key>
		<string>Google</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user13</string>
		<key>Password</key>
		<string>user13</string>
		<key>BackgroundImage</key>
		<string>BackImage13</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Google</string>
		<key>Email</key>
		<string>nylim123@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5691</string>
		<key>ProfileImage</key>
		<string>Instagram</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user14</string>
		<key>Password</key>
		<string>user14</string>
		<key>BackgroundImage</key>
		<string>BackImage14</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Instagram</string>
		<key>Email</key>
		<string>nylim456@fastcampus.co.kr</string>
	</dict>
	<dict>
		<key>PhoneNumber</key>
		<string>010-1234-5692</string>
		<key>ProfileImage</key>
		<string>Kickstarter</string>
		<key>MyProfileDescription</key>
		<string>With the power of Xcode, the ease of Swift, and the revolutionary features of cutting-edge Apple technologies, you have the freedom to create your most innovative apps ever.</string>
		<key>Account</key>
		<string>user15</string>
		<key>Password</key>
		<string>user15</string>
		<key>BackgroundImage</key>
		<string>BackImage15</string>
		<key>StatusDescription</key>
		<string>Bring Your Ideas to Life</string>
		<key>Nickname</key>
		<string>Kickstarter</string>
		<key>Email</key>
		<string>mbjang123@fastcampus.co.kr</string>
	</dict>
</array>
</plist>
