<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Movies</string>
		<key>URL</key>
		<string>https://www.youtube.com/red</string>
		<key>imageStr</key>
		<string>Youtube</string>
		<key>memo</key>
		<string>음악과 동영상을 광고없이 백그라운드 및 오프라인 상태에서 즐길 수 있습니다.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dropbox</string>
		<key>category</key>
		<string>Productivity</string>
		<key>URL</key>
		<string>https://www.dropbox.com/upgrade</string>
		<key>imageStr</key>
		<string>Coub</string>
		<key>memo</key>
		<string>Dropbox professional을 통해 모든 업무 파일을 보관하고, 공유하며, 진행 상황을 파악할 수 있습니다.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>https://www.dropbox.com/upgrade</string>
		<key>imageStr</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube Red</string>
		<key>category</key>
		<string>Entertainment</string>
		<key>URL</key>
		<string>www.youtube.com</string>
		<key>iconImage</key>
		<string>Airbnb</string>
		<key>memo</key>
		<string>유튜브 프리미엄 서비스를 감상하세요</string>
	</dict>
</array>
</plist>
