<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionTitle</key>
		<string>Account</string>
		<key>Data</key>
		<array>
			<dict>
				<key>CellStyle</key>
				<string>SettingDetailCell</string>
				<key>Content</key>
				<string>정보수정</string>
			</dict>
			<dict>
				<key>CellStyle</key>
				<string>SettingDetailCell</string>
				<key>Content</key>
				<string>Feedback</string>
			</dict>
			<dict>
				<key>CellStyle</key>
				<string>SettingDisabledCell</string>
				<key>Content</key>
				<string>Backup Data</string>
			</dict>
			<dict>
				<key>CellStyle</key>
				<string>SettingDisabledCell</string>
				<key>Content</key>
				<string>Reset Account</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>About Stack app</string>
		<key>Data</key>
		<array>
			<dict>
				<key>CellStyle</key>
				<string>SettingTextCell</string>
				<key>Content</key>
				<string>Version</string>
			</dict>
			<dict>
				<key>CellStyle</key>
				<string>SettingTextCell</string>
				<key>Content</key>
				<string>About Developer</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>Notification</string>
		<key>Data</key>
		<array>
			<dict>
				<key>CellStyle</key>
				<string>SettingSwitchCell</string>
				<key>Content</key>
				<string>Notify me</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
